@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    font-family: 'Roboto',sans-serif;
    line-height: 1.6;
}

.restart-btn{
    display: inline-block;
    background-color: lightblue;
    color: black;
    padding: 5px 7px;
    font-size: 1.1rem;
    cursor: pointer;
    outline: none;
    border: none;
}

.restart-btn:hover {
    background-color: blue;
    color: white;
}

.score{
    color: white;
    margin-top:18px;
    margin-bottom: 22px;
}

.score div:first-child {
    background-color: blueviolet;
}

.score div:last-child {
    background-color: black;
}

.choice{
    cursor: pointer;
}

.choice:hover{
    border: 1px solid black;
    border-radius: 50%;
    padding: 7%;
}

.text-win{
    color: #28a745;
}

.text-lose{
    color: #dc3545;
}